[Unit]
Description=Run vault-certificate on boot and every week after

[Timer]
#OnActiveSec=0
OnBootSec=30
OnUnitActiveSec=168h
AccuracySec=1s


[Install]
WantedBy=timers.target
