[Unit]
Description=Run vault-aws-auth on boot and every day

[Timer]
OnBootSec=20
OnUnitActiveSec=1d
AccuracySec=1us

[Install]
WantedBy=timers.target
